.sidebar-col {
  background-color: white;
  min-height: 100vh;
  border-radius: 10px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.data-col {
  min-height: 100vh;
}
.personal-info {
  display: flex;
  margin: 20px 20px 20px 20px;
}
.personal-data {
  margin-left: 10px;
}
.sidebar-links {
  cursor: pointer;
  margin: 2rem 1rem 2rem 20px;
  font-weight: bolder;
  font-size: 16px;
  display: flex;
}
.sidebar-items-colapsed {
}
.sidebar-col-collapsed {
  background-color: white;
  min-height: 100vh;
  border-radius: 10px;
  padding: 0;
}
.data-col-collapsed {
  min-height: 100vh;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.personal-info-collapsed {
  display: flex;
  margin: 20px 20px 20px auto;
}
.personal-data-collapsed {
  margin-left: 10px;
}
.sidebar-links-collapsed {
  cursor: pointer;
  margin: 2rem 1rem 2rem auto;
  font-weight: bolder;
  font-size: 16px;
  display: flex;
}

@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 5% !important;
  }
}
@media (max-width: 768px) {
  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 8% !important;
  }
}
