/* .share-modal-header {
  justify-content: flex-end !important;
  border: none !important;
  background-color: #f8f6f6;
}
.share-modal-body {
  padding: 0 64px 64px 64px !important;
}
.share-modal-header-div {
  margin-bottom: 2rem;
  max-width: 70%;
} */
.share-input {
  padding: 1rem;
}
.share-input input {
  border: 1px solid #c7c7c7 !important;
  border-radius: 3px;
  background-color: #eeecec;
}
.input-tag-share::placeholder {
  font-size: 20px;
  padding: 10px;
}
.share {
  background-color: #ffffff;
  border-radius: 10px;
  /* position: relative;
  min-width: 70%;
  max-width: 70%;
  left: 15%;
  right: 15%;
  min-height: 50%;
  max-height: 50%;
  top: 25%;
  bottom: 25%; */
}
.share-modal > .modal-dialog {
  max-width: 580px !important;
}
.share-main {
  display: flex;
  padding: 2rem;
  background-color: #f8f6f6;
}
