.main-image {
  display: block;
  margin-top: 50%;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 768px) {
  .main-image {
    margin-top: 40%;
    width: 30%;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 500px) {
  .main-image {
    margin-top: 40%;
    width: 30%;
  }
}
