.name-component-h4 {
  padding: 2rem;
}
.name-component-input {
  padding: 4rem 2rem 4rem 2rem;
  min-width: 100%;
}
.name-component-input input {
  min-width: 100%;
  border-bottom: 1px solid black;
}
.name-component-input input[type="text"]:focus {
  outline: none;
}
.name-component-button {
  width: 100%;
  padding: 4rem 4rem 1rem 4rem;
}
.name-component-button button {
  width: 100%;
}
.email-component-h4 {
  padding: 2rem;
}
.email-component-input {
  padding: 4rem 2rem 4rem 2rem;
  min-width: 100%;
}
.email-component-input input {
  min-width: 100%;
  border-bottom: 1px solid black;
}
.email-component-input input[type="text"]:focus {
  outline: none;
}
.email-component-button {
  width: 100%;
  padding: 4rem 4rem 1rem 4rem;
}
.email-component-button button {
  width: 100%;
}
.password-component-h4 {
  padding: 2rem;
}
.password-component-input {
  padding: 4rem 2rem 4rem 2rem;
  min-width: 100%;
}
.password-component-input input {
  min-width: 100%;
  border-bottom: 1px solid black;
}
.password-component-input input[type="password"]:focus {
  outline: none;
}
.password-component-button {
  width: 100%;
  padding: 4rem 4rem 1rem 4rem;
}
.password-component-button button {
  width: 100%;
}
.text-muted {
  margin-bottom: 0 !important;
  margin-top: 16px;
}
