.viewall-image {
  max-width: 100%;
  max-height: auto;
  min-width: 100%;
  min-height: 250px;
}
.viewall-col {
  padding: 0 !important;
  position: relative;
  margin-bottom: -32px;
}
.viewall-header {
  padding: 20px 1px 10px 20px;
}
.button-image1 {
  position: relative;
  bottom: 15%;
  display: flex;
  justify-content: space-around;
  margin: auto 1.5rem auto 1.5rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}
.button-image img {
  max-width: 80%;
  min-width: 80%;
}
