.main-devicescreen-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.new-image {
  position: relative;
  left: 5%;
}
.new-image-1 {
  margin-top: 2%;
}
.btn-primary {
  width: 27%;
}
.p-camera {
  font-size: 11px;
  margin-left: 32%;
  margin-right: 28%;
}
.u-devices {
  font-weight: 700;
}
.n-devices {
  font-weight: 500;
}
button.close {
  background-color: #e02020 !important;
  border-radius: 100%;
  margin: 10px;
}
.close {
  color: white !important;
  text-shadow: none !important;
  opacity: 1 !important;
}
.modal-header .close {
  margin: 1rem !important;
  padding: 7px 11px 9px 11px !important;
}
.ss input {
  border: none !important;
}
input[type="text"]:focus {
  /* border: none; */
  outline: none;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: none !important;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  position: absolute;
  left: 400px;
  z-index: 9999;
}
.save-button {
  margin-top: 4%;
}
.modal-body1 {
  margin-top: 10%;
  margin-bottom: 1%;
  padding: 45px;
}
