.form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  margin: 2rem auto 2rem auto;
}
.signup-image-side-col {
}
.signup-form-col {
  padding: 2rem;
}
.signup-icons {
  display: flex;
  justify-content: center;
}
.signup-icons-div {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  min-width: 20%;
  max-width: auto;
  background-color: #5cb7ff;
}
.icon {
  color: white;
}
.signup-icon-car {
  cursor: pointer;
  /* background-color: #1e82d2; */
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
}
.signup-icon-home {
  cursor: pointer;
  /* background-color: #1e82d2; */
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 10px;
}
.button {
  margin: 1rem auto 1rem auto;
}
.login-option {
  margin-top: 1rem;
}

.signup-form {
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.signup-logo {
  max-width: 60%;
  max-height: 20%;
}
.info,
.detail-info {
  color: white;
  /* text-align: justify; */
}
.signup-left-side {
  display: flex;
  position: relative;
  top: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.detail-info {
  font-size: 10px;
  line-height: 1.5;
  margin-top: 20%;
  font-weight: lighter;
}
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.otp-input {
  /* border: none;
    border-bottom: 4px solid black !important; */
}
input {
  border: none;
  border-bottom: 3px solid black;
  font-size: 30px;
}
