.last-activity {
  display: flex;
}
.last-activity-info {
  padding: 1rem;
  min-width: 80%;
  max-width: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100vh;
}
.last-activity-calender {
  min-width: 20%;
  max-width: 20%;
  max-height: 100vh;
}
.react-calendar {
  border: none;
  font-size: 10px;
  line-height: 1.5;
  min-height: 100vh;
  background-color: #1e82d2;
  color: white;
}
.react-calendar__tile--now {
  /* background-color: #006edc !important;
  background: #006edc !important; */
  background: none !important;
  border-radius: 100%;
}
.react-calendar__tile--active {
  border-radius: 100%;
}
.react-calendar button {
  color: white;
}
.react-calendar button:hover {
  color: black;
  background-color: black;
}
.activity-living {
  display: flex;
  align-items: flex-start;
}
.living-image {
  max-width: 300px;
  max-height: 300px;
  padding: 10px;
}
.activity-living-data {
  padding: 10px 10px 10px 10px;
}
.modal-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.modal {
  margin-top: 10%;
  min-width: 60% !important;
}
button.close {
  background-color: #e02020 !important;
  border-radius: 100%;
  margin: 10px;
}
.close {
  color: white !important;
  text-shadow: none !important;
  opacity: 1 !important;
}
.modal-header .close {
  margin: 1rem !important;
  padding: 7px 11px 9px 11px !important;
}
.modal-div-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20%;
}
.btn-light {
  color: #007bff !important;
  background-color: none !important;
  border-color: #007bff !important;
}
.activity-modal-header {
  position: initial !important;
  left: 0 !important;
  z-index: 10 !important;
}
.acticity-modal-button {
  min-width: 50%;
  max-width: 60%;
  max-height: 40px !important;
}
