.col-images{ 
    margin-top: 8%;
  

}
.col-image{
      min-height: 200px;
      max-height: 200px;
      width: 411px;
}
.p-time{
    margin-bottom: 0;
        font-weight: 600;
            font-size: revert;
}
.pa-t{
    color: gray;
    font-size: x-small;
}
.div-house{
    margin-left:22px;
    font-weight: 500;
}
.last-tag{
     margin-top: 57px;
    margin-bottom: -20px;
    font-size: medium;
    font-weight: 600;
}
.button-image {
  position: relative;
      top: -90px;
    width: 275px;
    left: 167px;
  bottom: 15%;
  display: flex;
  justify-content: space-around;
  margin: auto 1.5rem auto 1.5rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}
.house-tag{
    display: flex;
    justify-content: space-between;
        position: relative;
    top: 79px;
    left: -17px;
}
.house-ww{
    margin-left: 65px;
    font-weight: 600;

}