.subscription {
  background-image: linear-gradient(to right, #95b1c2, #253f4d);
  min-height: 100vh;
  max-height: 100vh;
}
.subscription-header {
  position: relative;
  left: 20%;
  color: white;
  max-width: 60%;
  padding: 3rem 1rem 2rem 1rem;
}
.subscription-header p {
  font-size: small;
}
.subscription-image {
  right: 20%;
  max-width: 50%;
  position: absolute;
  bottom: 0px;
}
