.account {
  background-image: linear-gradient(#1e82d2, #ebf5fb);
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.account-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 10px 2rem;
}
.account-update p {
  margin-bottom: 3px !important;
}
.account-update {
}
.account-update h6 {
  margin-bottom: 10px !important;
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(216, 216, 216);
  cursor: pointer;
}
.account-options h6 {
  margin-bottom: 10px !important;
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(216, 216, 216);
  cursor: pointer;
}
.empty {
  background-color: rgb(240, 239, 239);
  min-width: 100%;
  min-height: 30px;
}
.account-card-2 {
  background-color: white;
  min-height: 90vh;
  margin-right: 4%;
}
.account-modal-header {
  border: none !important;
  justify-content: flex-end !important;
}
