.AddcircleIcon {
  color: #1e82d2;
  height: 10%;
}

.kithenhoom {
  width: 100%;
  margin-top: 10px;
}

.text-addcircleicon {
  color: black;
  font-size: large;
  font-weight: 500;
}

.hover-kitchen {
  overflow-y: scroll;
  max-height: 100vh;
}

.modal {
  margin-top: 100px;
}

.modal-div {
  margin-top: 38px;
  margin-bottom: 1rem;
  margin-left: 74px;
}

.paharagraph-tag {}

.share-tag {
  margin-left: 72px;
  margin-bottom: unset;
}

.avtar-one {}

.avatr-div {
  display: flex;
  flex-direction: column;
}

.avatar-div-one {
  /* margin-left: -50px; */

  /* justify-content: space-between; */
  display: flex;
  margin-top: 10px;
}

.modal-body-div {
  /* padding: 0 64px 64px 64px !important; */
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.modal-text {
  margin-left: 30px !important;
}

.button-close {
  position: relative;
  right: -30%;
  margin-bottom: 3%;
}

.modal-body-div {
  max-height: 312px !important;
  overflow-y: scroll !important;
  min-height: 312px !important;
  overflow-x: hidden !important;
  position: relative;
  width: 368px;
}

.modal-body-div::-webkit-scrollbar {
  display: none;
}

.modal-body-div {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal-cantain-div {
  max-height: 312px !important;
}

.footer-homescreen {
  border: none !important;
  position: relative;
  right: 33%;
}

.modal-homescreen-add {
  margin-top: 4% !important;
}